{
    "version": 1,
    "minor_version": 1,
    "key": "core.config",
    "data": {
        "latitude": 59.943663263827155,
        "longitude": 30.314025878906254,
        "elevation": 0,
        "unit_system": "metric",
        "location_name": "Home",
        "time_zone": "Europe/Moscow",
        "external_url": null,
        "internal_url": null,
        "currency": "RUB"
    }
}